@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

header .top-section,
header .bottom-section {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

header .top-section {
  height: 72px;
  background: rgb(0, 174, 66);
  align-items: center;
  justify-content: center;
}

header .top-section .subtop {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: "Montserrat", sans-serif;
  margin: 60px 30px;
}

header .top-section .subtop .headbutton {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .top-section .subtop .headbutton h {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 14px;
  padding: 5px 15px;
}

header .top-section .subtop img {
  padding: 5px;
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px;
}

header .top-section .subtop p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #ffffff;
}

header .bottom-section {
  height: 72px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

header .bottom-section .subbottom.container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

header .bottom-section .subbottom.container .nav-item {
  flex-grow: 1;
  margin: 0 9px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

header .bottom-section .subbottom.container .nav-item img.logo {
  max-height: 100%;
}

header .bottom-section .subbottom.container .nav-item a.nav-link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 7px;
}

header .bottom-section .subbottom.container .nav-item a.nav-link.donate,
header .bottom-section .subbottom.container .nav-item a.nav-link.ticket {
  padding: 8px 16px;
  border-radius: 5px;
}

header .bottom-section .subbottom.container .nav-item:nth-child(10),
header .bottom-section .subbottom.container .nav-item:nth-child(11) {
  font-size: 12px;
}

header .bottom-section .subbottom.container .nav-item:last-child img.logo {
  margin-right: 0;
}

header .bottom-section .subbottom.container .nav-item:nth-child(10) a.nav-link,
header .bottom-section .subbottom.container .nav-item:nth-child(11) a.nav-link {
  color: #ffffff;
}

header .bottom-section .subbottom.container .nav-item:nth-child(10),
header .bottom-section .subbottom.container .nav-item:nth-child(11) {
  background-color: #000000;
  border-radius: 7px;
  padding: 5px 10px;
}

header .bottom-section .subbottom.container .nav-item:nth-child(12) {
  background: rgb(0, 174, 66);
  border-radius: 7px;
  border: 3px;
  padding: 5px 17px;
  font-size: 14px;
}

header .bottom-section .subbottom.container .nav-item:nth-child(12) a.nav-link {
  color: #ffffff;
}
